<div id='index'>
<h1>Welcome to Norms List</h1>
<p>You can find anything you need here!</p>
</div>
<img id="img" src="https://mas.uncc.edu/sites/mas.uncc.edu/files/media/Multicultural%20Academic%20Services%202.png" alt="img">

<div class="row">
<div id="column1" class ="column">
<ul id="sale">
    <h2>For Sale</h2>    
    <li><h3><%= link_to 'Clothing', new_sale_path %></h3></li>
    <li><h3><%= link_to 'Electronics', new_sale_path %></h3></li>
    <li><h3><%= link_to 'Furniture', new_sale_path %></h3></li>
    <li><h3><%= link_to 'General', new_sale_path %></h3></li>
    <li><h3><%= link_to 'Tickets', new_sale_path %></h3></li>
    <li><h3><%= link_to 'Vehicles', new_sale_path %></h3></li>
</ul>
</div>
<div id ="column2" class="column">
<ul id="services">
    <h2>Services</h2>    
    <li><h3><a href="">Cleaning</a></h3></li>
    <li><h3><a href="">Creative</a></h3></li>
    <li><h3><a href="">Dog Walking</a></h3></li>
    <li><h3><a href="">Moving</a></h3></li>
    <li><h3><a href="">Ride Share</a></h3></li>
    <li><h3><a href="">Tutoring</a></h3></li>
   
</ul>
</div>
</div>


<footer>
    <p>&#169 Created by Team Dunder Mifflin</p>
</footer>