<h1>New Item</h1>

<%= form_for :item do |f| %>

<p>
    <%= f.label :username %>
    <%= f.text_field :username %>
</p>

<p>
    <%= f.label :item %>
    <%= f.text_field :item %>
</p>

<p>
    <%= f.label :price %>
    <%= f.text_field :price %>
</p>

<p>
    <%= f.label :contact %>
    <%= f.text_field :contact %>
</p>

<p>
    <%= f.submit %>
</p>

<%end%>

<table>
  <tr>
    <th>User</th>
    <th>Item</th>
    <th>Price</th>
    <th>Contact</th>
  </tr>
  
<% @items.each do |item| %>
<tr>
  <td><%= item.username %></td>
  <td><%= item.item %></td>
  <td><%= item.price %></td>
  <td><%= item.contact %></td>
  <td><%= link_to 'Show', item_path(item) %></td>
  <td><%= link_to 'Destroy', item_path(item),
                              method: :delete, 
                              data: { confirm: 'Are you sure?'} %> </td>
</tr>

<%end%>
</table>
