<p>
    <strong>Username:</strong>
    <%= @item.username %>
</p>

<p>
    <strong>Item:</strong>
    <%= @item.item %>
    
</p>

<p> 
    <strong>Price:</strong>
    <%= @item.price %>
</p>

<p>
    <strong>Contact Info:</strong>
    <%= @item.contact %>
    
</p>

<p style ="background-color: white; color: black; width: 85px;"><%= link_to 'Items List', items_path %></p>