<h1>FOR SALE</h1>

<div class = 'sales-container'>
  <div id="item">
    <%= form_for :sales, url: sales_path do |f| %>
     
      <p>
        <%= f.label :Search %><br>
        <%= f.text_field :Search %>
      </p>
     
      <p>
        <%= f.submit :Search %>
      </p>
    <% end %>
    </div>
   <div style="border:solid 2px green; padding: 10px; width: 900px;">
<h2 style="color:white;  width:150px;float:left;">User: Mr.Tech252</h2>


<img src="https://www.bhphotovideo.com/images/images2500x2500/western_digital_wd10ezex_1tb_wd_caviar_blue_903174.jpg">    
    
<p style="color:white; float:right; border:dotted 2px yellow;">Hard drive for sale!</p>    
    
</div>
 
</div> 


<%= link_to 'Back', welcome_index_path %>