<h1>FOR SALE</h1>

<div class = 'sales-container'>
  <div id="item">
    <%= form_for :sales, url: sales_path do |f| %>
     
      <p>
        <%= f.label :Search %><br>
        <%= f.text_field :Search %>
      </p>
     
      <p>
        <%= f.submit :Search %>
      </p>
    <% end %>
    </div>
   <div id="harddrivediv">
  
<h2 id="hstyle">User: Mr.Tech252</h2>


<img src="https://www.bhphotovideo.com/images/images2500x2500/western_digital_wd10ezex_1tb_wd_caviar_blue_903174.jpg">    
    
<p id = "hddescription">Hard drive for sale! 20 bucks!!</p>   

    
</div>

<br>
<br>

<div id="harddrivediv2">
  
<h2 id="user2">User: FortniteGod</h2>  

<img src="https://cdn3.volusion.com/lnxhw.lsjwt/v/vspfiles/photos/Xbox-One-Black-Out-3.jpg">

<p id = "hddescription">Used xbox one controller</p>


  
  
  
  
</div>
 
</div> 


<%= link_to 'Back', welcome_index_path %>
